<script type="text/javascript">
    var cWidgetOptions = {
      id: 1,
      domain: 'local.sredda.ru:3000',
      path: '/purchase/concierge',
      nocache: Math.random()
    };

</script>


<p>
  <button type="button" class="btn btn-warning" onclick="createWidget('widget_place2', cWidgetOptions, '<%= @user[:api_token] %>')">Show Concierge Widget</button>
</p>


<div id='widget_place1' class="panel panel-default">
  <div class="panel-body">
 </div>
</div>

<div id='widget_place2' class="panel panel-default">
  <div class="panel-body">
 </div>
</div>

