

<p>
  <button type="button" class="btn btn-success" onclick="createWidget('widget_place1', widgetOptions1)">Show Widget</button>
  <button type="button" class="btn btn-warning" onclick="createWidget('widget_place2', widgetOptions2)">Show Concierge Widget</button>
</p>


<div id='widget_place1' class="panel panel-default">
  <div class="panel-body">
 </div>
</div>

<div id='widget_place2' class="panel panel-default">
  <div class="panel-body">
 </div>
</div>

