<script type="text/javascript">
    var cWidgetOptions = {
      id: 1,
      domain: 'local.sredda.ru:3000',
      path: '/purchases/new',
      nocache: Math.random()
    };

    var cWidgetParams = {
      api_token: '<%= @user[:api_token] %>',
      client_id: 4,
      owner_id: 1
    };
</script>

<%= purchases_path %>
<p>
  <button type="button" class="btn btn-warning" onclick="createWidget('widget_place1', cWidgetOptions, cWidgetParams)">Show Concierge Widget</button>
</p>


<div id='widget_place1' class="panel panel-default">
  <div class="panel-body">
 </div>
</div>
