<script type="text/javascript">
    var widgetOptions1 = {
      id: 1,
      domain: 'local.sredda.ru:3000',
      path: '/purchases/show',
      nocache: Math.random()
    };
    var widgetOptions2 = {
      id: 2,
      domain: 'local.sredda.ru:3000',
      path: '/purchases/concierge',
      nocache: Math.random()
    };
    var widgetParams = {
      widget_id: 4
    };

  </script>


<p>
  <button type="button" class="btn btn-success" onclick="createWidget('widget_place1', widgetOptions1, widgetParams)">Show Widget</button>
  <button type="button" class="btn btn-warning" onclick="createWidget('widget_place2', widgetOptions2)">Show Concierge Widget</button>
  <button type="button" class="btn btn-warning" onclick="reloadWidget('widget_iframe1')">Reload</button>
  <button type="button" class="btn btn-warning" onclick="callWidget('widget_iframe1', 'parent_call', {domain: 'sredda.ru'})">Call</button>
</p>


<div id='widget_place1' class="panel panel-default">
  <div class="panel-body">
 </div>
</div>

<div id='widget_place2' class="panel panel-default">
  <div class="panel-body">
 </div>
</div>

